
[v-cloak] {
  display: none;
}

/*loader*/
	.lds-ring {
	  display: inline-block;
	  position: relative;
	  width: 15px;
	  height: 15px;
	  background: none;
	}
	.lds-ring div {
	  box-sizing: border-box;
	  display: block;
	  position: absolute;
	  width: 15px;
	  height: 15px;
	  margin: 0px;
	  border: 2px solid red;
	  border-radius: 50%;
	  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	  border-color: red transparent transparent transparent;
	}
	.lds-ring div:nth-child(1) {
	  animation-delay: -0.45s;
	}
	.lds-ring div:nth-child(2) {
	  animation-delay: -0.3s;
	}
	.lds-ring div:nth-child(3) {
	  animation-delay: -0.15s;
	}
	@keyframes lds-ring {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}

/*Loader*/

/*Loader cloak*/
	.lds-ellipsis {
	  display: inline-block;
	  position: relative;
	  width: 64px;
	  height: 64px;
	}
	.lds-ellipsis div {
	  position: absolute;
	  top: 27px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: rgba(82, 188, 211, 1);
	  animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.lds-ellipsis div:nth-child(1) {
	  left: 6px;
	  animation: lds-ellipsis1 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(2) {
	  left: 6px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(3) {
	  left: 26px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(4) {
	  left: 45px;
	  animation: lds-ellipsis3 0.6s infinite;
	}
	@keyframes lds-ellipsis1 {
	  0% {
	    transform: scale(0);
	  }
	  100% {
	    transform: scale(1);
	  }
	}
	@keyframes lds-ellipsis3 {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(0);
	  }
	}
	@keyframes lds-ellipsis2 {
	  0% {
	    transform: translate(0, 0);
	  }
	  100% {
	    transform: translate(19px, 0);
	  }
	}
/*loader cloak*/

/*vue validation*/

	.dirty {
	  border-color: #5A5;
	  background: #EFE;
	}

	.dirty:focus {
	  outline-color: #8E8;
	}

	.error {
	  background: #FDD;
	}

	.error:focus {
	  outline-color: #F99;
	}

/*vue datatable v1*/
	#vue-datatable{
	  font-size: 9pt;
	}

	#vue-datatable th{
	  text-align: center;
	  color: rgba(26, 179, 148, 1);
	  position: sticky;
	  padding: 5px;
	  top: 0px;
	  font-weight: 600;
	  border-top: 1px solid #eee;
	}

	#vue-datatable td{
	  padding: 5px;
	  border: 1px solid #eee;
	}

	#vue-datatable tbody tr{
	  cursor: pointer;
	}

	#vue-datatable tbody tr.vue-datatable-row-data{
		outline: none;
	}

	#vue-datatable tbody tr.vue-datatable-row-data:focus{
		background-color: rgba(0, 200, 81, 0.1);
	}

	#vue-datatable tbody tr:hover{
	  background-color: rgba(0, 200, 81, 0.05);
	}

	.form-datatable-vue input, .form-datatable-vue select{
		height: 25px;
		font-size: 9pt;
	}

.keuangan-form .label{
	padding-top: 5px;
}

.keuangan-form input{
	height: 30px;
	border-radius: 0px;
}

.keuangan-form #basic-addon1{
	/*background: red;*/
	height: 30px;
	font-size: 9pt;
	min-width: 60px;
}

.keuangan-form .button-wrapper{
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding: 15px 0px;
}

table.keuangan.table-mini{
	font-size: 9pt;
}

table.keuangan.table-mini th,
table.keuangan.table-mini td{
	padding: 5px;
}

table.keuangan.table-mini th{
	text-align: center;
	border: 1px solid #ddd;
	background: white;
}

table.keuangan.table-mini td{
	border: 1px solid #ddd;
	background: white;
}

.modal-title.keuangan{
	font-size: 12pt;
}